.advanced-search-panel {
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 5px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    width:100%;
}

.slider-container label {
    margin-bottom: 10px;
}

.result-display {
    margin-top: 20px;
}

.chat-bubble {
    margin-bottom: 20px;
}

.loader {
    margin: auto;
}
